<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <title></title>
  <link rel="stylesheet" href="movies.css">

</head>

<body>
  <h1 class="main">TOP 10 TV SHOWS TRENDING</h1>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/movies">Movies</a>
          <a class="nav-link" href="/tvshows">TV Shows</a>
          <a class="nav-link" href="/comingsoon">Movies Coming Soon</a>
        </div>
      </div>
    </div>
  </nav>
  <section id="movies">
    <div class="row">
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu1%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn1%></h5>
          <p class="card-text"><%=mc1%></p>
          <p class="card-text"><%=mi1%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu2%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn2%></h5>
          <p class="card-text"><%=mc2%></p>
          <p class="card-text"><%=mi2%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu3%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn3%></h5>
          <p class="card-text"><%=mc3%></p>
          <p class="card-text"><%=mi3%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu4%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn4%></h5>
          <p class="card-text"><%=mc4%></p>
          <p class="card-text"><%=mi4%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu5%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn5%></h5>
          <p class="card-text"><%=mc5%></p>
          <p class="card-text"><%=mi5%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu6%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn6%></h5>
          <p class="card-text"><%=mc6%></p>
          <p class="card-text"><%=mi6%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu7%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn7%></h5>
          <p class="card-text"><%=mc7%></p>
          <p class="card-text"><%=mi7%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu8%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn8%></h5>
          <p class="card-text"><%=mc8%></p>
          <p class="card-text"><%=mi8%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu9%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn9%></h5>
          <p class="card-text"><%=mc9%></p>
          <p class="card-text"><%=mi9%></p>
        </div>
      </div>
      <div class="card col-lg-3" style="width: 18rem;">
        <img src="<%=mu10%>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=mn10%></h5>
          <p class="card-text"><%=mc10%></p>
          <p class="card-text"><%=mi10%></p>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
